<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduction</title>
</head>
<body>
    <h1>Loves Bageri</h1>
    <p>Välkommen till Loves bageri! Här bakar vi allt möjligt. Vi låter dig till och med ta bort och lägga till produkter vi producerar. Du kan självklart även anställa och avskeda vem du vill.</p>
    <a href="http://localhost:8080/products">Se våra produkter!</a>
    <a href="http://localhost:8080/employees">Se våra anställda!</a>
</body>
</html>